<div class="one-movie-section">
    <div>
        <div>
            <div>
                <img src="{{movieOnly.image}}" alt="">
            </div>
            <div>
                <div>
                    <h1>{{movieOnly.title}}</h1>
                    <p>{{movieOnly.description}}</p>
                </div>
            </div>
            <a href="/movies">Go back</a>
        </div>
    </div>
</div>